.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 20vh;
    line-height: 2rem;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: height .05s;
}

:global(.down) :local(.Header) {
    height: 10vh;
}

.Title a {
    color: white;
    font-size: 2rem;
}