@import '../../client/base';

.PostItem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    border-color: $posts-header;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    max-width: 70%;
    align-self: center;
}

.PostItem:first-of-type {
    margin-top: 2rem;
}

.Header {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

.Title {
    text-align: center;
    padding: 15px;
    width: 100%;
    background-color: $posts-header;
    margin: 0;
}

.Link {
    color: black;
}

.Link:hover {
    outline: 0;
}

.ReadMore {
    color: black;
    align-self: flex-end;
}
