@import './variables';

:global {
    html {
        font-size: 15px;
    }

    [data-text="true"] {
        font-family: monospace, Helvetica, sans-serif;
    }

    .megadraft-editor h2:first-child {
        font-size: 3.5rem;
        line-height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 100%;
        background-color: $posts-header;
        transition: height .5s;
    }

    .megadraft-editor div[data-contents="true"] > :not(:first-child) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .megadraft-editor div[data-contents="true"] > :last-child {
        padding-bottom: 5rem;
    }
}